<section class="contact">
  <h1>Skontaktuj się ze mną</h1>
  <div class="wrap clearfix">
    <form>
      <input type="text" placeholder="Twoje imię">
      <input type="text" placeholder="Email">
      <textarea placeholder="Twoja wiadomość"></textarea>
      <button>Wyślij wiadomość</button>
    </form>
    <div class="socials">
      <div class="social clearfix"><img src="assets/contact1.png" alt="kontakt"><span>sjurczak.cv@slavo.pl</span></div>

      <div class="social clearfix"><img src="assets/contact2.png" alt="kontakt"><span>506160618</span></div>
      <div class="social clearfix"><a href="https://www.facebook.com/SLAVO-201862449838099/" target="_blank"><img src="assets/contact3.png" alt="kontakt fb"><span>facebook</span></a></div>
      <div class="social clearfix"><a href="https://www.goldenline.pl/slawomir-jurczak2/" target="_blank"><img src="assets/contact4.png" alt="kontakt goldenline"><span>goldenline</span></a></div>
      <div class="social clearfix"><a href="https://www.linkedin.com/in/s%C5%82awomir-jurczak-3873434/" target="_blank"><img src="assets/contact5.png" alt="kontakt linkedin"><span>linkedin</span></a></div>

    </div>

  </div>


</section>
