<section class="portfolio">
  <h1>Projekty, z których jestem dumny</h1>
  <div class="project clearfix">
    <div class="web">
      <img src="assets/portfolio1.jpg" alt="portfolio przykład 1">
    </div>
    <div class="about">
      <h2>Nazwa projektu</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed doloremque quidem illo doloribus ipsa,
        facere, quae eligendi debitis. A debitis totam amet aperiam enim. Qui velit corrupti consequatur nihil est.</p>
    </div>
  </div>

  <div class="project clearfix">
    <div class="web">
      <img src="assets/portfolio4.jpg" alt="portfolio przykład 4">
    </div>
    <div class="about">
      <h2>Nazwa projektu</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed doloremque quidem illo doloribus ipsa,
        facere, quae eligendi debitis. A debitis totam amet aperiam enim. Qui velit corrupti consequatur nihil est.</p>
    </div>
  </div>
</section>